<a href="https://colab.research.google.com/github/SwaraliDeshmukh/Adjancency-matrix-and-visualiztion/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.datasets import make_classification
import numpy as np

#dataset 1
X,y = make_classification(n_samples=2500, n_features=10, n_informative=5, n_classes=2,random_state=42)

X_data = np.array(X)
y_data = np.array(y)
new_data = np.append(X_data ,y_data.reshape(-1,1),axis=1)
df = pd.DataFrame(new_data,columns = ['f0', 'f1', 'f2', 'f3', 'f4',"f5" ,'f6', 'f7', 'f8',"f9" ,'target'])
df.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,target
0,-0.368016,0.698164,-0.305162,1.510681,0.683709,0.578886,-1.459221,1.342327,-0.233032,0.635028,1.0
1,-2.782846,-1.706489,1.317698,-2.150943,-0.797741,-1.998309,-0.279433,2.159505,1.961729,3.867486,1.0
2,-1.520854,0.383342,1.703974,-0.912539,2.063183,-0.607595,0.044832,-0.194808,-0.392005,0.508795,1.0
3,2.689637,-1.154617,-1.198926,-0.790872,0.358675,1.925390,9.230973,-5.872051,3.367797,-0.413147,1.0
4,3.757601,0.837133,-0.128198,2.926628,-0.662674,0.135668,-1.181198,-1.386723,-0.928650,-5.553162,0.0

In [ ]:
#dataset 2
X1,y1 = make_classification(n_samples=2500, n_features=12, n_informative=6, n_classes=2,random_state=42)

X1_data = np.array(X1)
y1_data = np.array(y1)
new_Data = np.append(X1_data ,y1_data.reshape(-1,1),axis=1)
df2 = pd.DataFrame(new_Data,columns = ['f0', 'f1', 'f2', 'f3','f4','f5','f6', 'f7', 'f8',"f9" ,'f10','f11','target'])
df2.head()

In [ ]:
from sklearn.preprocessing import StandardScaler

# on the first dataset
scaler = StandardScaler()
df_ = df.copy()
df_['f0'] = scaler.fit_transform(df[['f0']])
df_['f1'] = scaler.fit_transform(df[['f1']])
df_['f2'] = scaler.fit_transform(df[['f2']])
df_['f3'] = scaler.fit_transform(df[['f3']])
df_['f4'] = scaler.fit_transform(df[['f4']])

df_.head()

In [ ]:

# on the second dataset
scaler2 = StandardScaler()
df2_ = df.copy()
df2_['f0'] = scaler2.fit_transform(df2[['f0']])
df2_['f1'] = scaler2.fit_transform(df2[['f1']])
df2_['f2'] = scaler2.fit_transform(df2[['f2']])
df2_['f3'] = scaler2.fit_transform(df2[['f3']])
df2_['f4'] = scaler2.fit_transform(df2[['f4']])

df2_.head()

In [ ]:
from sklearn.model_selection import train_test_split

#dataset 1
y_ = df_['target']
X_ = df_.drop(['target'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X_,y_ , test_size=0.33, random_state=42)

# dataset 2
y2_ = df2_['target']
X2_ = df2_.drop(['target'],axis=1)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2_,y2_ , test_size=0.33, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.predict(X_test)

score1 = clf.score(X_test,y_test)  # dataset 1

In [ ]:
clf2 = LogisticRegression(random_state=0).fit(X2_train, y2_train)
clf2.predict(X2_test)

score2 = clf2.score(X2_test,y2_test) # dataset 2

In [ ]:
from sklearn import svm

clf3 = svm.SVC()
clf3.fit(X_train, y_train)
clf3.predict(X_test)

score3 = clf3.score(X_test,y_test)  # dataset 1

In [ ]:
clf4 = svm.SVC()
clf4.fit(X2_train, y2_train)
clf4.predict(X2_test)

score4 = clf4.score(X2_test,y2_test)  # dataset 2

In [ ]:
# Splitting the un-scaled datasets

#dataset 1
y3_ = df['target']
X3_ = df.drop(['target'],axis=1)
X3_train, X3_test, y3_train, y3_test = train_test_split(X3_,y3_ , test_size=0.33, random_state=42)

# dataset 2
y4_ = df2['target']
X4_ = df2.drop(['target'],axis=1)
X4_train, X4_test, y4_train, y4_test = train_test_split(X4_,y4_ , test_size=0.33, random_state=42)

In [ ]:
clf5 = LogisticRegression(random_state=0).fit(X3_train, y3_train)
clf5.predict(X3_test)

score5 = clf5.score(X3_test,y3_test)  # dataset 1

In [ ]:
clf6 = LogisticRegression(random_state=0).fit(X4_train, y4_train)
clf6.predict(X4_test)

score6 = clf6.score(X4_test,y4_test) # dataset 2

In [ ]:
clf7 = svm.SVC()
clf7.fit(X3_train, y3_train)
clf7.predict(X3_test)

score7 = clf7.score(X3_test,y3_test) # dataset 1

In [ ]:
clf8 = svm.SVC()
clf8.fit(X4_train, y4_train)
clf8.predict(X4_test)

score8 = clf8.score(X4_test,y4_test) # dataset 2

In [ ]:
scores = [score1,score2,score3,score4,score5,score6,score7,score8]
Model = ['Logistic','Logistic','SVM','SVM','Logistic','Logistic','SVM','SVM']
Scaling = ['With','With','With','With','Without','Without','Without','Without']
dataset_ = ['Dataset 1','Dataset2','Dataset 1','Dataset2','Dataset 1','Dataset2','Dataset 1','Dataset2']

accuracyScore = pd.DataFrame({"Model":Model,"Dataset":dataset_,"Scaling":Scaling,'Score':scores})

### Inferences : 

- For the  both the dataset
  - svm with standardScaler works better
- SVM is better at handling non-linear dataset